{% extends 'base.html' %}

{% block content %} 
<h2>Criar compensação</h2>
<form enctype="multipart/form-data" action="{% url 'compensacao' %}" method='post'>
    {% csrf_token %}
    <div class="form-group">
        <label ="compensation_clients">Cliente</label>
        <select class="form-control" name="cliente"
            id="compensations_clients">
            {% for cliente in clientes %}
            <option value="{{cliente.id}}">{{ cliente.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="compensation_types">Tipo de compensação</label>
        <select class="form-control" name="tipo" id="compensation_types">
            {% for tipo in compensation_types %}
            <option value="{{tipo.id}}">{{ tipo.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="compensation">Compensação</label>
        <select class="form-control" name="nome" id="compensation">
            {% for compensacao in compensacoes %}
            <option>{{ compensacao }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="arquivo">Arquivo *.csv da compensação</label><br>
        <input name="arquivo" type="file" id="arquivo" />
        <p class="help-block">Organização: mes, valor</p>
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>
{% endblock %}
