{% extends 'base.html' %} 

{% block content %} 
<div class="table-responsive">
	<table class="table table-striped">
		<tr>
			<th>Nome</th>
            <th>Compensações</th>
		</tr>
		{% for cliente in clientes %}
		<tr>
            <td><a href="{% url 'cliente' cliente.id %}">{{ cliente.name }}</a></td>
            <td>
            {% for compensation in cliente.compensations_set.all %}
            <a href="{{ compensation.pdf.url }}">{{ compensation.name }}</a>
		    {% if compensation != cliente.compensations_set.last %}
		    ,
		    {% endif %}
            {% endfor %}
	    </td>
        </tr>
		{% endfor %}
	</table>
</div>
{% endblock content %}
